<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BusService_basicHttpBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://dev-ws.unitegps.com/dev-UniteGPSBusService/BusService.svc/basic"
                binding="basicHttpBinding" bindingConfiguration="BusService_basicHttpBinding"
                contract="DevBusServices.IBusService" name="BusService_basicHttpBinding" />
        </client>
    </system.serviceModel>
</configuration>