<!--<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GenerateProxy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <applicationSettings>
        <GenerateProxy.Properties.Settings>
            <setting name="GenerateProxy_ISIHRServise_ISIhr_x0020_Employee"
                serializeAs="String">
                <value>https://webservices.isihr.com/employee.asmx</value>
            </setting>
            <setting name="GenerateProxy_ISIHRServices_ISIhr_x0020_Employee"
                serializeAs="String">
                <value>https://webservices.isihr.com/employee.asmx</value>
            </setting>
        </GenerateProxy.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ISIhr EmployeeSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ISIhr EmployeeSoap1" />
                <binding name="BusService_basicHttpBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://webservices.isihr.com/employee.asmx"
                binding="basicHttpBinding" bindingConfiguration="ISIhr EmployeeSoap"
                contract="ISIHRService.ISIhrEmployeeSoap" name="ISIhr EmployeeSoap" />
            <endpoint address="http://dev-ws.unitegps.com/dev-UniteGPSBusService/BusService.svc/basic"
                binding="basicHttpBinding" bindingConfiguration="BusService_basicHttpBinding"
                contract="ServiceReference1.IBusService" name="BusService_basicHttpBinding" />
        </client>
    </system.serviceModel>
</configuration>-->